//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)

//=======================
// logos
//=======================

.series-logo
	margin 0 auto
	font-family $benton
	text-align center
	margin-top 2rem
	font-size 1.5rem
	
.logo-image
	width 4rem
	display inline-block
	vertical-align middle
	margin 0 auto

.logo-image-secondary
	width 4rem
	margin 0 auto
	vertical-align middle
	margin-top -1.4rem



//=======================
// Headline
//=======================

.main-hed
	&__hed
		font-size 9rem
		margin 0 auto
		text-align center
		margin 2rem auto 3rem auto
	&__dek
		font-size 2rem
		margin-top 1.5rem
	&__intro
		font-family $serif
		width 65%
		margin 0 auto
		text-align center
		margin-bottom 5rem
		+mq('bp-1')
			font-size 1.5rem
			line-height 3rem
	&__byline
		margin 0 auto 3rem 0
		text-align center
		font-size 1.3rem
		font-weight 700
		
	
	


//=======================
// Runner mods
//=======================

.runner
	@extends $container
	&__meta
		width 15%
		margin-left 5%
		font-style italic
	&__story
		width 75%
		rhythm base
	&__name
		font-size 4rem
		margin 2rem 0
	&__quote
		width 100%
		font-size 2rem
	&__meta-item
		margin-bottom 0.5rem
	&__container
		display flex

	
.divider
	border-top 1px solid black
	border-bottom 1px solid black
	width 60%
	height 8px
	margin 10rem auto
	
.divider:last-child
	display none
	
p 
	margin-bottom 1.5rem
	
p:first-child
	font-size 1.8rem
	margin-bottom 1.7rem
	
p:last-child
	margin-bottom 0
	
.italic
	font-weight 400
	font-style italic
	
.space
	letter-spacing 1rem
	
// p:first-child:first-letter
// 	font-size 5.6rem
// 	line-height 6.1rem
// 	padding-top 0.3rem
// 	padding-right 0.5rem
// 	float left
// 	font-family $miller-banner
// 	color #59889d