//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)

//=======================
// Headline
//=======================

.main-hed
	font-size 9rem
	margin 0 auto
	text-align center
	margin 2rem auto 3rem auto
	&__dek
		font-size 2rem
		margin-top 1.5rem

.series-logo
	width 17rem
	margin 3rem auto 0 auto
	
	


//=======================
// Runner mods
//=======================

.runner
	@extends $container
	&__meta
		float left
		width 15%
		margin-right 5%
		font-style italic
	&__story
		float left
		width 80%
		rhythm base
	&__name
		font-size 4rem
		margin 2rem 0
	&__quote
		width 100%
		font-size 2rem
	&__meta-item
		margin-bottom 0.5rem
	
