<div class="main-hed">
	Me & my shoes
	<div class="main-hed__dek">
		Every shoe has a story, and every runner loves to tell how they found their shoes.
	</div> 
</div>

<div class="runner">
	<img src="assets/photos/holdingshoes.jpg" class="runner__image">
	<div class="runner__name miller-regular">
		Mary Whatshername
	</div>
	<div class="runner__meta">
		<div class="runner__meta-item">My shoes: Asics X1230
		</div>
		<div class="runner__meta-item">When I bought them: 2014
		</div>
		<div class="runner__meta-item">Cost: $125
		</div>
		<div class="runner__meta-item">Races run: New York Marathon, Tufts 5K
		</div>
	</div>
	<div class="runner__story">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget risus ante. Praesent auctor eu justo vel venenatis. Nullam vitae lorem nulla. Quisque tempus eros et bibendum cursus. Fusce cursus interdum quam, in tincidunt nulla sagittis in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ut nulla vitae orci pulvinar euismod a ac ligula. Phasellus lectus dolor, lacinia sit amet risus eu, tincidunt tincidunt risus. Quisque bibendum ultrices ante, sagittis iaculis arcu luctus at. Aenean lacinia maximus ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc arcu neque, cursus at libero vestibulum, accumsan tincidunt tortor. Nulla ultricies ornare augue et ultrices. Nunc consectetur, mauris aliquet maximus cursus, dolor turpis vestibulum metus, sit amet blandit enim nisl vitae tellus. Quisque dolor nulla, tincidunt ut malesuada nec, pharetra vel elit.	
	</div>
	<div class="runner__quote miller-regular">
		"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
	</div>
</div>