<div id='ad_bigbox2' class='ad-slot'>
	<p class='ad-slot__overline'><span>Advertisement</span><a href='#continue-after-ad-2'>Continue reading below</a></p>
	<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('ad_bigbox2');});
	</script>
</div>
<div id='continue-after-ad-2'></div>